<div id="shopify-section-template--15662938128579__1660402211bb1dc339" class="shopify-section"><!-- /sections/section-html.liquid -->
<div class="section-html-template--15662938128579__1660402211bb1dc339">
      <p>HEY</p>
      <br><br>
      <h2>Talk to us
<br>
if you have an idea for
<br> <a href="#" class="any">ANY</a> 
collaborations</h2><br><br>
      <p>NO LIKES. NO FOLLOWERS. JUST</p>
<p>YOUR FAVORITES IN A</p>
<p>DEMOCRATIZED COMMUNITY.</p>
<br>
<p>SEND US QUERIES <a href="#" class="here">HERE</a>
</p>
  </div>
</div>
<style>
  #shopify-section-template--15662938128579__1660402211bb1dc339
  {
    text-align: center;
    padding: 50px 5%;
    background-color: #F1F1F1;
  }
  .any
  { color: #EA9D3A;
    font-size: 1rem;
    margin: 0px 5px;
    position: relative;
    letter-spacing: 1rem;
  }
  .any:after
  {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -5px;
    right: 15px;
    height: 1px;
    background: #EA9D3A;
  }
</style>