.featured-cold {
  text-align: center;
}

.featured-cold .featured-header {
  max-width: 342px;
  margin: 0 auto;
}

.featured-cold .featured-heading {
  font-family: "Futura" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 29px;
  color: #fa6a18;
  padding-bottom: 17px;
  border-bottom: 2px solid #fa6a18;
  margin-bottom: 75px;
}

.featured-cold .featured-description p {
  font-family: "Futura" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 3px;
  color: #2c2c2c;
  margin-bottom: 63px;
}

.featured-cold .featured-sub_description p {
  font-family: "Futura" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 2px;
  color: #000000;
  margin-bottom: 108px;
}

.featured-cold .featured-wrapper {
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.featured-cold .path_image {
  position: absolute;
  top: 0;
  right: -18%;
}

.featured-cold1 p {
  font-family: "Poppins-Regular" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-align: center;
  color: #090909;
  max-height: 256px;
  margin: 0px;
}

.featured-cold1,
.featured-cold3 {
  width: 20%;
  max-width: 20%;
  text-align: left;
}
.featured-cold1 p {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
.featured-cold2 {
  width: 60%;
  max-width: 60%;
  text-align: left;
  position: relative;
}
.featured-cold2 img {
  max-width: 100%;
  width: 100%;
}
.bottom-div {
  border-top: 2px solid #4c4b4c;
  border-bottom: 2px solid #4c4b4c;
  margin: 20px 0px;
}

.bottom-div h4 {
  font-family: "Futura" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  text-transform: none !important;
  font-size: 43.20000076293945px;
  font-weight: 400;
  font-style: normal;
  color: #171717;
  margin-top: 26px;
}

.bottom-div p {
  font-family: "Futura" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  font-style: normal;
  letter-spacing: 2px;
  color: #171717;
  margin-top: 67px;
}

.featured-cold .white-cont {
  max-width: 270px;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
  position: absolute;
  top: 13%;
  right: -23%;
}
.featured-cold .box-content {
  border: 4px solid #eba443;
  padding: 20px;
  text-align: center;
}
.white-cont p {
  margin-bottom: 3px;
  margin-top: 3px;
}
@media screen and (max-width: 1050px) {
  .featured-cold1 p {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    text-align: center;
  }
  .featured-cold1,
  .featured-cold2 {
    width: 100%;
    max-width: 100%;
  }
  .featured-cold3 {
    display: none;
  }
  .featured-cold .white-cont {
    max-width: 100% !important;
    margin: 0px auto;
    padding: 0px;
    background-color: white;
    position: relative;
    top: 0px;
    right: 0px;
  }

  .featured-wrapper {
    flex-direction: column;
    padding: 0 5%;
  }

  .featured-cold .path_image {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .featured-cold .white-cont {
    max-width: 100%;
  }

  .featured-cold .path_image {
    width: 50%;
  }

  .featured-cold .featured-heading {
    margin-bottom: 35px;
  }

  .featured-cold .featured-description p {
    margin-bottom: 35px;
  }

  .featured-cold .featured-sub_description p {
    margin-bottom: 35px;
  }

  .bottom-div p {
    margin-top: 27px;
  }

  .bottom-div h4 {
    font-size: 30px;
  }
}
