.featured1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 5%;
  text-align: center;
}

.featured1 h6 {
  font-family: "Poppins-Regular" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  font-style: normal;
  color: #090909;
}

.featured1 p {
  font-family: "Poppins-Regular" !important;
/*   font-family: "BebasNeue-Regular" !important; */
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
  text-align: center;
  color: #090909;
  opacity: 0.3;
  margin: 0 0 54px;
}

.featured1-left {
  width: 50%;
  max-width: 50%;
  text-align: center;
  padding: 20px;
  padding-right: 32px;
}

.featured1-right {
  width: 50%;
  max-width: 50%;
  text-align: center;
  padding: 20px;
  padding-left: 32px;
}
.featured1 img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .featured1-left,
  .featured1-right {
    width: 100%;
    max-width: 100%;
  }

  .featured1-left,
  .featured1-right {
    padding: 0;
  }
}
