#shopify-section-new-footer {
  background-color: #000000;
}

.custom-footer-images {
  color: white;
  padding-top: 421px;
  padding-bottom: 48px;
  position: relative;
}

.footer-first-image {
  max-width: 171px;
  max-height: 229px;
  position: absolute;
  left: 9%;
  top: -76px;
  z-index: 5;
}

.footer-second-image {
  max-width: 229px;
  position: absolute;
  top: 128px;
  left: 50%;
  z-index: 5;
}

.footer-content-wrapper {
  z-index: 10;
  position: relative;
}

.footer-custom-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 29px;
  margin-bottom: 114px;
}

.footer-custom-links a {
  font-family: BebasNeue-Regular !important;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  color: #ffffff;
}

.custom-text-footer {
  text-align: center;
  max-width: 370px;
  margin: 0 auto;
  font-family: "futura pt";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 5px;
  color: #ffffff;
}

.custom-text-footer p {
  margin: 0;
}

.footer-bottom {
  width: 100%;
  text-align: right;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .footer-first-image,
  .footer-second-image {
    display: none;
  }

  .custom-footer-images {
    padding-top: 70px;
  }

  .footer-custom-links {
    gap: 20px;
    margin-bottom: 60px;
  }

  .custom-text-footer {
    width: 90%;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 3px;
  }

  .footer-custom-links a {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .footer-custom-links a {
    font-size: 32px;
  }

  .footer-custom-links {
    gap: 17px;
    margin-bottom: 50px;
  }

  .custom-text-footer {
    letter-spacing: 2px;
  }
}
