.image__hero__frame {
  height: 100vh;
}

.hero__content__wrapper {
  padding: 100px 0;
}

.hero__content {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.hero__title {
  padding: 0;
  margin-left: 20%;
  font-family: "exmouth";
  font-size: 140px;
  font-weight: 400;
  line-height: 114px;
  font-style: normal;
  text-align: left;
  color: #f7f8fa;
  max-width: 650px;
}

.hero-path-image {
  position: absolute;
  top: 50%;
  left: 20%;
  margin: 0px !important;
  transform: translateY(-50%);
  width: 376px;
  aspect-ratio: 0.58;
  z-index: 1;
}

@media (max-width: 1000px) {
  .hero-path-image {
    width: 200px;
  }

  .hero__title {
    font-size: 90px;
    line-height: 100px;
    max-width: 420px;
  }
}

@media (max-width: 768px) {
  .image__hero__frame {
    height: 60vh;
  }
  .hero-path-image {
    width: 200px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 60px;
    max-width: 250px;
  }
}
